[Unit]
Description=ydotool Daemon
After=basic.target

[Service]
ExecStart=sg input -c 'ydotoold'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
